@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 70vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 130%;
    background: #ffdf87;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    padding: 10px 16px;
}

.container{
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: auto;
    min-height: 500px;
    max-width: 500px;
    min-width: 250px;
    background: #eeeeee;
    background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
    background-size: 25px 25px;
    border-radius: 10px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    box-sizing: border-box;
    margin-top: 2rem;
}

.heading{
    background-color: #f4bc55;
    box-shadow: 3px 2px 5px #00000040;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.heading h1 {
    color: #fff;
    font-family: "Montserrat", cursive;
    font-weight: 500;
    padding: 0.2rem 3rem;
}

.form input{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #838383;
    padding: 10px;
    width: 240px;
    border: none;
    outline: none;
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #6e6e6e;
  }

.addButton{   
    background: #ffaf01;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    margin-left: 10px;
    margin-bottom: 40px;
} 
.content{
    flex: 1;
}
ul{
    color: #4a4a4a;
}

li {
    text-align: left;
    position: relative;
    margin-left: 30px;
    padding: 0.5rem;
}

.newItem div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newItem div li{
    flex: 1;
}

.delButton {
    border: none;
    color: #ff7f58;
}
.delButton:hover {
    border: none;
    color: #f0410c;
}

.editButton{
    border: none;
    color: #9584f9;
    margin-right: 5px;
}

.editButton:hover{
    border: none;
    color: #4625ff;
}

.edit input{
    border: none;
    font-family: inherit;
    font-size: large;
    margin-right: 40px;
    padding-left: 5px;
    width: 200px;
}

.edit button{
    border: none;
    color: #555555;
}

.edit button:hover{
    border: none;
    color: #111111;
}

.footer p{
    font-size: small;
}